body {
    height: 100vh;
    background-color: aquamarine;
  }
  
  h1 {
    font-size: 60px;
    text-align: center;
  }
  
  .laptop-large,
  .laptop,
  .tablet,
  .mobile {
    font-size: 40px;
    text-align: center;
    display: none;
  }
  
 @media screen and (max-width: 1440px) {

  body{
    background-color: rgb(6, 155, 6);
  }
  .laptop-large{
    display: block;
  }
 }

 @media screen and (max-width: 1024px) {

  body{
    background-color: burlywood;
    .laptop-large{
      display: none;
    }
    .laptop{
      display: block;
    }
  }
}

  @media screen and (max-width: 768px) {
    body{
      background-color: aquamarine;
      .laptop-large{
        display: none;
      }
      .laptop{
        display: none;
      }
      .tablet{
        display: block;
      }

    }
    
  }

    @media screen and (max-width: 425px) {

      body{
        background-color: rgb(142, 13, 13);
        .laptop-large{
          display: none;
        }
        .laptop{
          display: none;
        }
        .tablet{
          display: none;
        }
        .mobile{
          display: block;
        }
      } 
    }
  
  

